body {
  font-size: 2rem;
  width: 800px;
  margin: 0 auto;
  min-height: 10vh;
  display: grid;
  grid-template:
    "header header sidebar" 217px
    "hero hero sidebar" 530px
    "main main sidebar" 1192px
    "map map sidebar" 649px
    "footer footer footer" 150px
    /1fr 19%;
}

.haeder {
  background-color: red;
  grid-area: header;
}
.hero {
  background-color: aqua;
  grid-area: hero;
}
.main {
  background-color: green;
  grid-area: main;
}
.map {
  background-color: orange;
  grid-area: map;
}
.sidebar {
  background-color: brown;
  grid-area: sidebar;
}
.footer {
  background-color: purple;
  grid-area: footer;
}
